body {
   background-image:  url('../img/sativa.png');
}

.jumbotron {
    background-color: deepskyblue;
    color: white;
}

.panel-heading {
    background-color: deepskyblue !important;
    color: white !important;
}

.panel-body {
    color: #2b2b2b !important;
}

.navbar {
    background-color: #2b2b2b;
}

.navbar-brand:link, .navbar-brand:visited {
    color: deepskyblue !important;
}

.navbar-brand:hover, .navbar-brand:active {
    color: white !important;
}

#navbar li a:link, #navbar li a:visited {
    color: white !important;
}

#navbar li a:hover, #navbar li a:active {
    color: deepskyblue !important;
}

.dropdown-menu {
    background-color: #2b2b2b;
}

.open > a {
    background-color: #2b2b2b !important;
}

.btn-primary {
    background-color: deepskyblue !important;
    border: none;
}

.btn-primary:hover {
    background-color: #2b2b2b !important;
}

.contenido-articulo, .perfil {
    background-color: white;
    padding: 2em;
}

.sidebar {
	background-color: white;
}

.sidebar, .gg-elemento {
	padding-top: 1em;
	padding-bottom: 1em;
}

.gg-elemento:hover {
	background-color: #2b2b2b !important;
	color: deepskyblue !important;
}

.gg-elemento {
	color: white;
}

#gg-entradas {
	background-color: deepskyblue;
}

#gg-comentarios {
	background-color: #029ac4;
}

#gg-favoritos {
	background-color: #394a66;
}

.parte-gestor-entradas {
	background-color: deepskyblue;
	color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #029ac4;
}

.table-striped>tbody>tr>td {
	border: none;
}

tbody:before {
	content: "-";
	display: block;
	line-height: 2em;
	color: transparent !important;
}

.table>thead>tr>th {
	border: none;
}

#boton-nueva-entrada {
	background-color: #029ac4 !important;
}

#boton-nueva-entrada:hover {
	background-color: #2b2b2b !important;
}

.form-nueva-entrada {
	background-color: white;
	padding: 2em;
}

.btn-buscar {
	background-color: black !important;
	color: white;
}

#resultados {
	background-color: white !important;
}

.boton_subir {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#label-archivo {
	background-color: #2b2b2b;
	color: #029ac4;
	cursor: pointer;
	padding: 0.5em;
	width: 100%;
}

#label-archivo:hover {
	background-color: #029ac4;
	color: white;
}
